<div class="home">
  <h1 class="home__heading">Welcome to this website!</h1>
  <div class="home__links">
    <a href="/register" class="home__link">Register</a>
    <a href="/login" class="home__link">Login</a>
  </div>
</div>
