<div class="password">
  <h1 class="password__heading">Password requirements</h1>
  <div class="password__rules">
    <p>Password must be longer than 6 characters.</p>
    <p class="password__text">Password must contain:</p>
    <p>at least one uppercase character.</p>
    <p>at least one lowercase character.</p>
    <p>at least one number.</p>
    <p>at least one special character.</p>
  </div>
  <a class="password__link" href="/register">Back to registration</a>
</div>




